<div class="col-xs-7 col-md-7">
  <% if @product.image.present? %>
    <%= image_tag @product.image.medium.url %>
  <% else %>
    <%= image_tag "http://www.nhcc.co.ug/uploads/noimage.png" %>
  <% end %>
</div>
<div class="col-xs-5 col-md-5">
  <h3><%= @product.title %></h3>
  <br />
  <br />
  数量：<%= @product.quantity %>
  <br />
  价格：<%= @product.price %>元
</div>
<br />
<br />
<%= link_to("加入购物车", "", :class => "btn btn-danger pull-right") %>
